<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Awesome Calculator</title>
</head>
<body>
<div>
  <h4>My Calculator</h4>
</div>
<div>
  <input type="number" class="form-input" [value]="firstInput" (change)="onChangeFirst($event.target.value)">
  <select class="form-input" [value]="operator" (change)="onChangeSelect($event.target.value)">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>
  <input type="number" class="form-input" [value]="secondInput" (change)="onChangeSecond($event.target.value)">
  <input type="submit" value="Result" (click)="calculate()">
</div>
<div>
  <p class="output">{{output}}</p>
</div>
</body>
</html>
